.intro_container {
  display: flex;
  flex-direction: column;
  padding-bottom: 2vh;
}
/* .intro-header {
  font-size: 6rem;
  /* color: azure; 
  padding: 8vh 0 4vh 0;
} */
.intro-par {
  font-size: 2.4rem;
  line-height: 2.9rem;
  letter-spacing: 0.15rem;
  text-align: justify;
  padding: 7px;
  /* text-align: left; */
}
.intro-par span {
  color: var(--color-pink);
}
/* medium screen */
@media screen and (max-width: 992px) {
  /* .intro_container {
    padding-bottom: 0;
  } */
  .intro-header {
    font-size: 4rem;
    padding: 8vh 0 2vh 0;
  }
  .intro-par {
    font-size: 2.2rem;
    line-height: 2.6rem;
    letter-spacing: 0.1rem;
  }
}

/* small screen */
@media (max-width: 575.98px) {
  .intro-header {
    font-size: 3.5rem;
  }
  .intro-header {
    padding: 6vh 0 2vh 0;
  }
  .intro-par {
    font-size: 2rem;
    line-height: 2.2rem;
    letter-spacing: 1px;
  }
}
