.modal_overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 200ms;
  z-index: 2;
}
.modal_container {
  /* border: 2px solid red; */
  max-width: calc(100vw - 100px);
  max-height: calc(100vh - 70px);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: black;
  /* add dark transparemnt gradient to background */
  border-radius: 50px;
  padding: 1rem;
  justify-content: space-around;
}
.modal_close {
  position: fixed;
  top: 2vh;
  right: 2vw;
}
.modal_feature {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid blue;
  width: 100%;
  /* height:  */
  max-height: calc(60vh - 70px);
  padding: 1vh 0;
}
.modal_img {
  width: 55vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  border-radius: 50px;
  padding: 10px;
}
.modal_span {
  color: pink;
  font-size: 1.2rem;
}
.modal_content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(45vh - 70px);
  border: 2px solid yellow;
  border-radius: 50px;
  padding: 1vh 0;
  margin: 2vh 0;
}
.modal_title {
  /* text-align: right; */
  align-self: flex-end;
  padding: 1rem 3rem 1rem 0;
  font-size: 2.2rem;
  color: var(--color-blue);
}
.modal_details {
  border-top: 2px dashed pink;
  border-bottom: 2px dashed pink;
  height: calc(30vh - 70px);
  text-align: justify;
}
.modal_button-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 45vw;
  border: 2px solid red;
  height: 3rem;
  padding: 0 4vw;
}
