.cloud_container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  height: 125px;
  width: 100%;
  /* border: solid rgb(112, 112, 112) 1px; */
}
.cloud_wrap {
  height: 5vh;
  /* position: relative; */
}
.cloud_img {
  height: 250px;
  /* margin-bottom: 20px; */
  /* position: absolute; */
  /* position: relative; */
}
