.contact {
  z-index: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  /* position: relative; */
  /* border: solid rgb(112, 112, 112) 1px; */
  padding-bottom: 7vh;
}
.contact_open-span {
  display: flex;
  flex-direction: column;
  height: fit-content;
  border: solid rgb(66, 171, 242) 1px;
  width: fit-content;
  padding: 1rem;
  margin: 4vh 0 5vh 6vw;
}
.contact_span-1 {
  font-size: 2.3rem;
}
.contact_span-2 {
  font-size: 1rem;
}
.contact_card-content-wrapper {
  background: url("../../assets/gradient-background.png");
  background-size: 150%;
  /* border: solid rgb(79, 37, 196) 4px; */
  height: fit-content;
  width: 100vw;
  padding: 5vh 0;
}
.contact_card-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  min-width: 85vw;
  max-width: 90vw;
  max-height: 80vh;
  padding: 4vh 0 6vh 5vw;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.716);
  /* border: solid rgb(245, 6, 6) 1px; */
  font-family: skills;
  font-size: 20px;
  margin: 5vh auto;
}
.contact_card-row-wrap {
  padding: 1vh 0;
}
.contact_card-row {
  display: flex;
  flex-direction: row;
}
.contact_card-row img {
  height: 6vh;
  width: auto;
}
.contact_card-row span {
  display: flex;
  align-items: center;
  font-size: 2rem;
  padding-left: 0.8rem;
}
