.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  position: relative;
  border: solid rgb(112, 112, 112) 1px;
}
.contact_open-span {
  display: flex;
  flex-direction: column;
  height: fit-content;
  border: solid rgb(66, 171, 242) 1px;
  width: fit-content;
  padding: 1rem;
  margin: 4vh 0 5vh 2vw;
}
.contact_span-1 {
  font-size: 2.3rem;
}
.contact_span-2 {
  font-size: 1rem;
}
.contact_card-content-wrapper {
  border: solid rgb(112, 112, 112) 4px;
  width: 90vw;
}
.contact_card-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  min-width: 85vw;
  max-width: 90vw;
  max-height: 90vh;
  /* height: 350px; */
  /* width: 350px; */
  padding: 3vh 0 6vh 5vw;
  /* padding-left: 25px; */
  border: solid white 1px;
  /* font-family: theBold; */
  font-family: skills;
  font-size: 20px;
}
.contact_card-row-wrap {
  padding: 1vh 0;
}
.contact_card-row {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  /* height: ; */
  /* border: solid white 1px; */
}
.contact_card-row img {
  height: 6vh;
  width: auto;

  /* padding-right: 5px; */
}
.contact_card-row span {
  display: flex;
  align-items: center;
  font-size: 2rem;
  padding-left: 0.8rem;
  /* border: solid white 1px; */
}
