.contact {
  height: 80vh;
  border: solid rgb(255, 255, 255) 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact_inner-wrapper {
  background-image: none;
  display: flex;
  flex-direction: column;
  border: solid rgb(255, 6, 6) 1px;
  height: 70vh;
  /* position: relative; */
}
.contact_cloud {
  height: 28vh;
  display: flex;
  align-self: flex-end;
  position: absolute;
  margin-bottom: 5vh;
  /* position: relative; */
}
.contact_cloud-img {
  height: 110%;
  /* height: 30vh; */
}
.contact_open-span {
  height: 15vh;
  border: solid rgb(6, 168, 255) 4px;

  /* position: relative; */
}
.contact_card-content-wrapper {
  border: solid white 1px;
}
.contact_card-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  min-width: 75vw;
  max-width: 90vw;
  max-height: 90vh;
  /* height: 350px; */
  /* width: 350px; */
  padding: 2vh 0 2vh 25px;
  /* padding-left: 25px; */
  border: solid white 1px;
  /* font-family: theBold; */
  font-family: skills;
  font-size: 20px;
}
.contact_card-row img {
  height: 5vh;
  width: auto;
  padding-right: 5px;
}
