.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.contact_cloud {
  height: 28vh;
  display: flex;
  align-self: flex-end;
  position: absolute;
}
.contact_cloud-img {
  height: 110%;
}
.contact_open-span {
  height: 15vh;
}
.contact_card-content-wrapper {
  border: solid white 1px;
}
.contact_card-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  min-width: 75vw;
  max-width: 90vw;
  max-height: 90vh;
  /* height: 350px; */
  /* width: 350px; */
  padding: 2vh 0 2vh 25px;
  /* padding-left: 25px; */
  border: solid white 1px;
  /* font-family: theBold; */
  font-family: skills;
  font-size: 20px;
}
.contact_card-row img {
  height: 5vh;
  width: auto;
  padding-right: 5px;
}
