.header_container {
  display: flex;
  flex-direction: column;
}
.header_top {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 10vh;
  margin-bottom: 20px;
}
.header_container h2 {
  font-size: 8rem;
  /* padding-top: 80vh; */
}
.header_banner-img {
  /* min-height: 40vh;
  max-height: 55vh; */
  height: 70vh;
  opacity: 0.75;
}
