.header_container {
  display: flex;
  flex-direction: column;
}
.header_top {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 10vh;
  margin-bottom: 20px;
}
.header_container h2 {
  font-size: 8rem;
  color: #e6eaee;
  /* font-family: var(--font-header-0); */
  /* padding-top: 80vh; */
}
.header_banner-img {
  /* min-height: 40vh;
  max-height: 55vh; */
  height: 70vh;
  opacity: 0.85;
}
/* medium screen */
@media screen and (max-width: 992px) {
  .header_top {
    margin-top: 4vh;
    margin-bottom: 30px;
  }
  .header_container h2 {
    font-size: 6rem;
  }
  .header_banner-img {
    height: 50vh;
    background-position: center;
  }
}

/* small screen */
@media (max-width: 575.98px) {
  .header_container {
    padding: 0 1vw;
  }
  .header_top {
    margin-top: 8vh;
    margin-bottom: 30px;
  }
  .header_container h2 {
    font-size: 4.5rem;
  }
  .header_banner-img {
    /* min-height: 40vh; */

    /* width: 100vw;
    height: auto; */
    height: 40vh;
  }
}
