.navbar_container {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding: 0 3vw; */
  justify-content: space-between;
  padding: 10px 15px 0 0;
}
#ddLogo {
  display: flex;
  height: 9vh;
}
.navbar_links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar_link {
  padding: 0 1.5vw;
}
.navbar_links-container a {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--color-grey);
}
.navbar_logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar_logo-container a {
  padding-left: 1.5rem;
}
.navbar_logo-container img {
  height: 3vh;
  /* padding-right: 2vw; */
}
/* medium screen */
@media screen and (max-width: 992px) {
  .navbar_container {
    padding: 1vh 2vh;
  }
  .navbar_link {
    padding: 0 2vw;
  }
  .navbar_container {
    height: 15vh;
  }
  .navbar_links-container a {
    font-size: 1.3rem;
  }
}
/* small screen */
@media (max-width: 575.98px) {
  .navbar_links-container {
    display: none;
  }
  .navbar_logo-container img {
    height: 4.5vh;
    /* padding-right: 3vh 2vw; */
  }
}
