.features {
  padding: 10vh 0;
  /* padding: 8vh 0 4vh 0; */

  margin-bottom: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.features_single-column {
  display: flex;
  flex-direction: column;
  width: 22vw;
  padding-left: 1vw;
}
.features_icon-img {
  height: 20vh;
  width: 20vh;
  margin-bottom: 4vh;
}
.features_header {
  font-size: 1.5rem;
  padding-bottom: 3vh;
  color: var(--color-blue);
}
.features_body-para {
  /* font-size: 1.2rem;
  line-height: 1.7rem; */
  font-size: 1.5rem;
  line-height: 2rem;
}
/* medium screen */
@media screen and (max-width: 992px) {
  .features {
    padding: 5vh 0;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
  }
  .features_single-column {
    display: flex;
    flex-direction: row;
    width: 80vw;
    padding-left: 1vw;
    margin: 1.2vh 0;

    /* border: 1px solid #f00; */
  }
  .features_icon-img {
    height: 17vh;
    width: 17vh;
    margin-bottom: 3vh;
  }
  .features_content-wrapper {
    padding-left: 2.2vw;
  }
  .features_header {
    font-size: 2.2rem;
    padding: 1.8vh 0;
  }
  .features_body-para {
    font-size: 2rem;
    line-height: 2rem;
  }
}

/* small screen */
@media (max-width: 575.98px) {
  .features {
    padding: 2vh 0;
  }
  .features_single-column {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-left: 0;

    padding-bottom: 5vh;
    margin: 1.2vh 0;
    align-items: center;

    /* border: 1px solid #f00; */
  }
  .features_content-wrapper {
    text-align: center;
  }
  .features_content-wrapper p {
    text-align: left;
    padding-left: 4vw;
    /* width: 80; */
  }
  .features_icon-img {
    height: 17vh;
    width: 17vh;
    margin-bottom: 4vh;
  }
  .features_icon-img {
    height: 14vh;
    width: 14vh;
    margin-bottom: 1vh;
  }
  .features_header {
    font-size: 1.7rem;
    padding: 1.8vh 0;
  }
  .features_body-para {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
