@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

:root {
  --color-pink: #ff8cf3;
  --color-blue: #53c0ce;
  --color-grey: #b2c5cf;

  --font-header-0: "Titan One", sans-serif;
}
