.projects {
  /* padding-bottom: 5vh; */
  /* padding-top: 3vh; */
  /* padding: 8vh 0; */
  /* overflow-x: hidden; */
}
.projects_outer-container {
  display: flex;
  flex-direction: column;
}
.projects_header {
  padding: 8vh 0 2vh 0;
  margin-left: 7px;
}
.projects_row-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 8vh;
}
.projects_single-container {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.projects_img {
  width: 90%;
  /* height: 40vh; */
  border-radius: 50px;
  padding: 10px;
  margin: 10px auto;
}
.projects_description-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px 3vw;
  height: 6rem;
  /* max-width: 100vw; */
  /* overflow-x: hidden; */
  /* overflow-y: auto; */
}
.projects_single-container h3 {
  color: var(--color-blue);
  font-size: 2rem;
  padding: 2rem 0 1rem;
}
.projects_button {
  z-index: -1;
  cursor: pointer;
  /* padding: 1rem; */
  height: 85px;
  width: 85px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  /* color: var(--color-pink); */
  color: white;
  border: 2px solid var(--color-pink);
  outline: none;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}
.projects_single-container p {
  margin-top: 20px;
  margin-right: 4px;
  font-size: 1.5rem;
  line-height: 2rem;
  top: 29px;
  right: 5px;
  background: rgba(0, 0, 0, 0.8);
}
.projects_container-para {
  margin-right: 4px;
  background: rgba(0, 0, 0, 0);
  border-radius: 50%;
}

/* medium screen */
@media screen and (max-width: 992px) {
  .projects_row-container {
    justify-content: center;
  }
  .projects_button {
    padding: 0 1rem;
    border-radius: 50%;
    margin: 1rem;
    height: 85px;
    width: 85px;

    outline: none;
    font-size: 1rem;
    letter-spacing: 0.3rem;
  }
}

/* small screen */
@media (max-width: 575.98px) {
  .projects_row-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8vh;
  }
  .projects_single-container {
    width: 100vw;
    padding-bottom: 8vh;
  }
  .projects h1 {
    font-size: 3rem;
  }
  .projects_img {
    width: 98vw;
  }
  .projects_single-container h3 {
    font-size: 1.8rem;
    padding: 1rem 0;
  }
  .projects_single-container p {
    /* padding-bottom: 2rem; */
    /* margin: 1px 3px; */
    margin-right: 0;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .projects_row-container {
    padding-bottom: 0;
  }
  .projects_description-wrapper {
    padding: 1rem 3rem;
  }
  .projects_button {
    padding: 1rem 0.5rem;
    border-radius: 50%;

    outline: none;
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
}
