.banner {
  height: 40vh;
  width: 100%;
  background: url("../../assets/banner-dots.png");
  background-size: 100%;
  margin-bottom: 7vh;
}
/* medium screen */
@media screen and (max-width: 992px) {
  .banner {
    height: 30vh;
    width: 100%;
    background: url("../../assets/banner-dots.png");
    background-size: 100%;
    margin-bottom: 7vh;
  }
}

/* small screen */
@media (max-width: 575.98px) {
  .banner {
    height: 20vh;
    width: 100%;
    background: url("../../assets/banner-dots.png");
    background-size: 100%;
    margin-bottom: 7vh;
  }
}
